<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>The house of your dreams</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
<form method="POST" th:action="@{/orders}" th:object="${houseCreator}">
    <h1>Order for the construction of a house!</h1>
    <img th:src="@{/images/designHouse.png}"/>
    <a th:href="@{/design}" id="another">Design another house</a><br/>

    <div th:if="${#fields.hasErrors()}">
        <span class="validationError">
        Please correct the problems below and resubmit.
        </span>
    </div>

    <h3>Customer data: </h3>

    <label for="customerName">Name: </label>
    <input type="text" th:field="*{customerName}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('customerName')}"
          th:errors="*{customerName}">Name Error</span>
    <br/>

    <label for="customerPhone">Phone: </label>
    <input type="text" th:field="*{customerPhone}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('customerPhone')}"
          th:errors="*{customerPhone}">Phone Error</span>
    <br/>

    <br/>

    <h3>Here's how I'll pay...</h3>
    <label for="ccNumber">Credit Card #: </label>
    <input type="text" th:field="*{ccNumber}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('ccNumber')}"
          th:errors="*{ccNumber}">CC Num Error</span>
    <br/>

    <label for="ccExpiration">Expiration: </label>
    <input type="text" th:field="*{ccExpiration}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('ccExpiration')}"
          th:errors="*{ccExpiration}">CC Num Error</span>
    <br/>

    <label for="ccCVV">CVV: </label>
    <input type="text" th:field="*{ccCVV}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('ccCVV')}"
          th:errors="*{ccCVV}">CC Num Error</span>
    <br/>

    <input type="submit" value="Submit order"/>
</form>
</body>
</html>